<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-4 p-2">
      <h1 class="text-center">New Recipe</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
