<%= render "partials/remote_modal", title: "Add Ingrident" do %>

  <% unless @foods.empty? %>
    <%= render "new" %>
  <% else %>
    <div>
      <p>There are no foods in the database. <%= link_to "Add one now", new_food_path %>.</p>
    </div>
  <% end %>
<% end %>